/*#booking_container{*/
/*    padding-top: 20px;*/
/*}*/
#booking_form label{
  font-size:15px;
  font-weight: 600;
  color:#808000;
}

#check-seats-button{
  width:100%;
  height:40px;
}
#booking_container{
  padding: 10px 60px;
}


.seat-panel-wrapper{
    background-color: #EEEEEE !important;
    border-radius: 6px;
    padding: 20px;
    margin:5px;
}
/*.seatCharts-row{*/
/*    padding-left: 10%;*/
/*}*/

.seat-panel{
	margin: auto !important;
    /*float: left;*/
    /*width:50%;*/
}
div .seatCharts-seat{
	width: 32px;
    height: 30px;	
}
.seatCharts-row div:first-child{
	display: none;
}
.seatCharts-row div:nth-child(even){
	width: 30px;
}
div.seatCharts-seat.selected{
	background: black;
}
.booking-details{
    /*float: left;*/
    /*width:50%;*/
	margin:auto;
}

