/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-May-2020, 18:18:46
    Author     : John YK
*/

#board button{
    background-color: grey;
    border-radius: 50%;
    width: 70px;
    height:70px;
    border: 2px solid grey;
}